* {
  color: maroon;
  margin: 10px;
  font-family: 'VT323';
  position: relative;
  vertical-align: top;
  text-transform: uppercase;
  user-select: none;
}
body {
  background-color: #100e17;
  margin: 3.5%;
  margin-top: 1.5%;
}
#title>h1 {
  text-align: center;
  font-size: 800%;
  margin-bottom: 2%;
}
#grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 4.7%;
}
#grid-container>div{
  border-style: solid;
  border-color: maroon;
  text-align: center;
}
#game {
  padding: 5%;
  background-color: black;
  overflow: hidden;
  height: 100%;
}

.btnContainer>div {
  display: block;
  width: auto;
  margin-top: 3%;
  padding: 3%;
  font-size: 500%;
  cursor: grab;
}
.knappHover>p:hover {
  color: #480607;
}
.btnContainer {
  height: 45vh;
  min-height: 45vh;
  margin-top: 10vh;
}
#controls>h1, #leaderboard>h1 {
  font-size: 400%;
}
#controls>p, #leaderboard>p {
  font-size: 150%;
}
#controls, #leaderboard {
  margin-top: 40%;
  margin-bottom: 40%;
}
