html,
body {
  overflow: hidden;
}
* {
  color: maroon;
  font-family: vt323;
  position: relative;
  vertical-align: top;
  text-transform: uppercase;
  user-select: none;
}
body {
  background-color: #100e17;
  margin: 3.5%;
  margin-bottom: 0%;
  margin-top: 0%;
}

#title > h1 {
  text-align: center;
  font-size: 800%;
  margin-bottom: 2%;
  margin-top: 1%;
  text-shadow: -1px 1px red;
}

#kebabBilde {
  width: 100px;
  /* padding: 20px; */
  margin: 30px;
}
#burgerBilde {
  width: 100px;
  /* padding: 20px; */
  margin: 30px;
}
#tittel-kontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 100%; */
  margin-bottom: 15px;
}
#knapp-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3%;
  margin-left: 28%;
  margin-right: 30%;
  text-align: center;
  font-size: 5.5vh;
}
#grid-container {
  font-size: 2vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 4.7%;
}
#game {
  background-color: black !important;
}
#grid-container > div {
  text-align: center;

  border-style: solid;
  border-color: maroon;
  outline: 2px groove #b61a1a;
}

#pilopp {
  color: #adff2f;
}
.knappHover > p {
  text-align: center;
}
#controls > h1,
#leaderboard > h1 {
  font-size: 250%;
  color: red;
  text-decoration: underline;
  text-shadow: -1px 1px maroon;
  margin-top: 2%;
}
#controls > p,
#leaderboard > p {
  font-size: 150%;
  color: red;
}

span {
  text-decoration: underline;

  color: red;
}

.dot {
  cursor: pointer;
  height: 3vh;
  width: 3vh;

  border-radius: 50%;
  display: inline-block;
}

#green {
  background-color: green;
}
#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#yellow {
  background-color: yellow;
}
#rainbow {
  animation: regnbueAnimasjon 3.5s linear;
  animation-iteration-count: infinite;
}

@keyframes regnbueAnimasjon {
  100%,
  0% {
    background-color: rgb(253, 108, 89);
  }
  10% {
    background-color: red;
  }

  20% {
    background-color: orange;
  }
  20% {
    background-color: rgb(255, 191, 73);
  }

  30% {
    background-color: yellow;
  }

  40% {
    background-color: lightgreen;
  }

  50% {
    background-color: green;
  }
  60% {
    background-color: blue;
  }
  70% {
    background-color: lightblue;
  }
  80% {
    background-color: rgb(190, 103, 253);
  }
  90% {
    background-color: indigo;
  }

  100% {
    background-color: rgb(253, 108, 89);
  }
}

#leaderboard > #dinHighscore {
  font-size: 400%;
  margin-top: 10%;
  position: relativ;
  color: #adff2f;
  height: 5%;
  margin-bottom: 0%;
}
#status {
  padding: 5%;
  margin-top: 15%;
}
#leaderboard > p {
  color: #adff2f;
}
#controls,
#leaderboard {
  padding: 5%;
  margin-top: 40%;
  margin-bottom: 40%;
  background-color: black;
}
#knapp-container > p {
  margin: 10%;
  color: rgb(240, 0, 0);
  text-shadow: 0px 0.5px red;
  cursor: pointer;
}
@media only screen and (max-width: 1200px), screen and (max-height: 513px) {
  #controls,
  #leaderboard {
    display: none;
  }

  #game {
    margin-left: 35%;
    margin-right: auto;
  }
}
@media only screen and (max-height: 640px) {
  #knapp-container {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  #tittel-kontainer {
    visibility: hidden;
  }
}
#innstillinger {
  z-index: 10;
  pointer-events: all;
  position: absolute;
  font-size: 30px;

  left: 0%;
  top: 10px;
  color: red;
  cursor: pointer;
  /*Avgrensning for bruker & fjerning av selectering av tekst*/
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  overflow-y: hidden; /* Gjem scrollbar */
  overflow-x: hidden; /* Gjem scrollbar*/
}
#innstillinger:hover {
  color: maroon;
}
.menyinnhold {
  border-style: solid;
  border-color: maroon;
  outline: 1px groove #b61a1a;
  overflow: hidden;
  margin-top: 50px;
  width: 20%;
  height: 6%;
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  /*Avgrensning for bruker & fjerning av selectering av tekst*/
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;

  user-select: none;
  overflow-y: hidden; /* Gjem scrollbar */
  overflow-x: hidden; /* Gjem scrollbar*/
}

.show {
  display: block;
}
.ned {
  margin-top: 10% !important;
}
b {
  color: white;
}
#VisTekst {
  left: 15px;
  top: 5px;
  position: relative;
  overflow-y: hidden; /* Gjem scrollbar */
  overflow-x: hidden; /* Gjem scrollbar*/
}
