* {
  color: maroon;
  font-family: vt323;
  position: relative;
  vertical-align: top;
  text-transform: uppercase;
  user-select: none;
}
body {
  background-color: #100e17;
  margin: 3.5%;
  margin-bottom: 0%;
  margin-top: 0%;
}
#title > h1 {
  text-align: center;
  font-size: 800%;
  margin-bottom: 2%;
  margin-top: 1%;
  text-shadow: -1px 1px red;
}
#grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 4.7%;
}
#game {
  background-color: black !important;
}
#grid-container > div {
  text-align: center;
  border-style: solid;
  border-color: maroon;
  outline: 2px groove #b61a1a;
}
#pilopp {
  color: #adff2f;
}
.btnContainer > div {
  display: block;
  width: auto;
  margin-top: 3%;
  padding: 3%;
  font-size: 800%;
  cursor: grab;
}
.knappHover > p {
  text-align: center;
}
.btnContainer {
  height: 45vh;
  min-height: 45vh;
  margin-top: 10vh;
}
#controls > h1,
#leaderboard > h1 {
  font-size: 250%;
  text-shadow: -1px 1px red;
}
#controls > p,
#leaderboard > p {
  font-size: 150%;
}
#controls,
#leaderboard {
  padding: 5%;
  margin-top: 40%;
  margin-bottom: 40%;
  background-color: black;
}
@media only screen and (max-width: 500px) {
  #controls,
  #leaderboard {
    display: none;
  }
  #game {
    margin-left: 35%;
    margin-right: auto;
  }
}
#innstillinger {
  z-index: 10;
  pointer-events: all;
  position: absolute;
  font-size: 30px;

  left: 0%;
  top: 10px;
  color: maroon;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#innstillinger:hover {
  color: red;
}
.menyinnhold {
  overflow: hidden;
  margin-top: 50px;
  width: 20%;
  height: 6%;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.show {
  display: block;
}
.ned {
  margin-top: 10% !important;
}

#VisTekst {
  left: 15px;
  top: 5px;
  position: relative;
}
